html, body {
  overflow-x: hidden;
}

body {
  color: #333;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

/*GRID*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth {
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 96%;
}

/*Header*/

header {
  background: #34495E;
  background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  color: #fff;
}

header nav {
  padding: 1em 0;
}

header nav ul {
  display: inline;
  float: right;
  margin: 0;
  text-align: right;
}

header nav ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}

header nav ul > li.btn-outline {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 15px;
}

header nav ul > li.btn-outline:hover {
  background: #fff;
}

header nav ul > li > a {
  color: #fff;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #34495E;
}

header .hero {
  display:block;
  position: relative;
  text-align: center;
 }
header .hero h1 {
  font-size:48px;
  font-weight: normal;
  margin:95px 0 0;
 }
header .hero p {
  font-size: 22px;
  font-weight: 100;
  line-height: 26px;
  margin:10px 0 40px;
 }
header .hero img {
  display: block;
  margin:3em auto 0;
 }

/*Buttons*/

.btn {
  background: #2ECC71;
  border: 2px solid #2ECC71;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px #22894E;
  color: #fff;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
}

/*Benefits*/

.benefits {
  display: block;
  position: relative;
  text-align: center;
}

.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}

.benefits ul li {
  display: inline-block;
  list-style-type: none;
}

.benefits i {
  color: #3498DB;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}

.benefits h2 {
  color: #3498DB;
}

/*Pricing*/

.pricing {
  background: #34495E url("../images/background.png") top center no-repeat;
  background: url("../images/background.png") top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  background-size: cover;
  padding: 4em 0;
  text-align: center;
 }
 
.pricing h2, .pricing p {
  color: #fff;
 }

.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
 }

.pricing ul li {
  list-style-type: none;
 }

.box {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  margin-top: 25px;
  min-height: 439px;
  padding: 0 15px 15px;
  position: relative;
 }

.box.middle {
  margin-top: 0px;
  min-height: 485px;
 }

.box h3 {
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 600;
  left: 0;
  margin: 0 -15px 40px;
  padding: 10px 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
 }

.box h4 {
  color: #3498DB;
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
 }

.box h4 span {
  font-size: 32px;
  vertical-align: top;
 }

.box h4 span.month {
  color: #888;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  vertical-align: middle;
 }

.box ul li {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
 }

.box .btn {
  bottom: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
 }

.small {
  color: #FEFEFE;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
 }

 /*Testimonials*/

 .testimonials {
  padding: 4em 0;
  text-align: center;
 }

 .testimonials h2 {
  color: #3498DB;
 }

 .testimonials ul li {
  list-style-type: none;
 }

 .testimonials blockquote {
  background: #34495E;
  color: #fff;
  font-style: italic;
  margin: 0;
  padding: 30px;
  position: relative;
  text-align: left;
  width: auto;
 }

 .testimonials blockquote:after {
  border: solid transparent;
  border-top-color: #34495E;
  border-width: 10px;
  content: " ";
  height: 0;
  left: 13%;
  margin-left: -10px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
 }

 .testimonials img {
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 65px;
  margin: 20px 10px 0 0;
  width: 65px;
 }

 .testimonials p.name {
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-top: 30px;
  text-align: left;
 }

 .staggered {
  margin-top: 20px;
 }

 /*Footer*/

 footer {
  background-color: #34495E;
  background-image: linear-gradient(to top, #3498DB 0%, #3498DB 50%, #34495E 50%, #34495E 100%);
  color: #fff;
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 0;
 }

 footer p, footer nav ul {
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 0;
  text-align: center;
 }

 footer nav ul li {
  display: inline;
  list-style-type: none;
 }

 footer nav ul li a {
  color: #fff;
  text-decoration: none;
 }

 footer .right-footer-block {
  background-color: transparent;
 }

 footer .logo {
  display: block;
  margin: 0 auto;
  padding: 2.35em 0;
 }

/*Homepage Media Queries*/

@media (min-width: 350px) {
  .one-half {
    width: 46%;
  }
  #top-nav {
    padding: 0;
  }
}

@media (max-width: 685px) {
  header .hero img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 786px) {
  .container {
    width: 750px;
  }
  .one-half {
    width: 46%;
  }
}

@media (max-width: 992px) {
  .staggered {
    margin-top: 0;
  }
  .left-footer-block, .middle-footer-block, .right-footer-block {
    display: block;
  }
  footer .logo {
    padding: 0;
  }
  
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  footer {
    background-color: #3498DB;
    background-image: linear-gradient(to left, #3498DB 33.33337%, #34495E 33.33337%, #34495E 100%);
    height: 100px;
  }
  footer p, footer nav ul {
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #3498DB;
  }
  footer .logo {
    padding: 2em 0 2em 1.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1920px) {
  header .hero h1 {
    font-size: 60px;
  }

  header .hero p {
    font-size: 28px;
    line-height: 30px;
  }

  header .btn {
    font-size: 22px;
    padding: 20px 50px;
  }
}

/*Dashboard*/

.dashboard {
  background: #f7f7f7;
}

.left-nav {
  background: #34495E;
  background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  color: #fff;
  float: left;
  height: 100%;
  position: absolute;
  width: 280px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0);
    -o-transform: translate(-280px,0);
    -moz-transform: translate(-280px,0);
}

.left-nav.open {
  display:block;
  width:280px;
  background: #34495E;
  background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
  z-index: 100;
 }

.hamburger {
  position:absolute;
  z-index: 1000;
  background:#34495E;
  color:#FFF;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  left: 5px;
  top: 15px;
 }

.left-nav .site-logo {
  background: #34495E;
  display: block;
  padding: 20px 0;
  text-align: center;
}

.left-nav .items {
  padding: 0 6%;
}

.left-nav .items p {
  color: #E2E2E2;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
}

.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}

.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.left-nav .items ul li a {
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.left-nav .items ul li a:active {
  background-color: #fff;
}

a.active:link, a.active:visited {
  background-color: #3498db;
}

.left-nav .items ul li a i {
  margin-right: 8px;
  text-align: center;
  width: 16px;
}

/*Left Navbar Settings*/

.left-nav .settings {
  background: #22303E;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.left-nav .settings img {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  margin-left: 10px;
  width: 35px;
}

.left-nav .settings p {
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding-top: 8px;
  vertical-align: top;
}

.left-nav .settings a {
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
  text-align: right;
  text-decoration: none;
}

/*Content*/

.content {
  float: right;
  padding: 6em 1% 1.5em;
  position: relative;
  width: 98%;
}

.content .header {
  margin: 0 1% 20px;
}

.content .header h1 {
  color: #3498DB;
  display: inline-block;
  float: left;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
  margin: 0 0 30px;
}

.content .header > a {
  float: right;
}

.content-item {
  display: block;
  float: left;
  margin: 0 2% 25px;
  width: 96%;
}

.item-box {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.40);
  display: block;
  height: 230px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.item-box > img {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.item-box h2 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  margin: 0;
}

.item-box h2 a {
  color: #3498DB;
  text-decoration: none;
}

.item-box h2 img {
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  width: 16px;
}

.item-box p {
  font-size: 14px;
  color: #333;
  line-height: 18px;
  margin: 5px 0 0;
}

/*Dashboard Media Queries*/

@media (min-width: 460px) {
  .content {
    float: right;
    padding: 1.5em 1%;
    position: relative;
    width: 90%;
  }

  .content-item {
    display: block;
    float: left;
    margin: 0 2% 25px;
    width: 46%;
  }
}

@media (min-width: 768px) {
  .content {
    float: right;
    padding: 1.5em 5%;
    position: relative;
    width: 90%;
  }

  .content > .container {
    width: 700px;
  }

  .content-item {
    margin: 0 1% 25px;
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .content {
    float: right;
    padding: 1.5em 1%;
    position: relative;
    width: 83.33333333%;
  }

  .content > .container {
    width: auto;
  }

  .content-item {
    margin: 0 1% 25px;
    width: 23%;
  }

  .left-nav {
    height: 100vh;
    width:14.66666667%;
    color:#FFFFFF;
    background: #34495E;
    background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
    float:left;
    position: fixed;
    display:block;
    transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

  .left-nav.open {
    width:14.66666667%;
    transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

  .hamburger {
    display:none;
   }
 }





















