html, body {
  overflow-x: hidden;
}

body {
  color: #333;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

/*GRID*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth {
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 96%;
}

/*Header*/

header {
  background: #34495E;
  background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  color: #fff;
}

header nav {
  padding: 1em 0;
}

header nav ul {
  display: inline;
  float: right;
  margin: 0;
  text-align: right;
}

header nav ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}

header nav ul > li.btn-outline {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 15px;
}

header nav ul > li.btn-outline:hover {
  background: #fff;
}

header nav ul > li > a {
  color: #fff;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #34495E;
}

header .hero {
  display:block;
  position: relative;
  text-align: center;
 }
header .hero h1 {
  font-size:48px;
  font-weight: normal;
  margin:95px 0 0;
 }
header .hero p {
  font-size: 22px;
  font-weight: 100;
  line-height: 26px;
  margin:10px 0 40px;
 }
header .hero img {
  display: block;
  margin:3em auto 0;
 }

/*Buttons*/

.btn {
  background: #2ECC71;
  border: 2px solid #2ECC71;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px #22894E;
  color: #fff;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
}

/*Benefits*/

.benefits {
  display: block;
  position: relative;
  text-align: center;
}

.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}

.benefits ul li {
  display: inline-block;
  list-style-type: none;
}

.benefits i {
  color: #3498DB;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}

.benefits h2 {
  color: #3498DB;
}

/*Pricing*/

.pricing {
  background: #34495E url("../images/background.png") top center no-repeat;
  background: url("../images/background.png") top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  background-size: cover;
  padding: 4em 0;
  text-align: center;
 }
 
.pricing h2, .pricing p {
  color: #fff;
 }

.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
 }

.pricing ul li {
  list-style-type: none;
 }

.box {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  margin-top: 25px;
  min-height: 439px;
  padding: 0 15px 15px;
  position: relative;
 }

.box.middle {
  margin-top: 0px;
  min-height: 485px;
 }

.box h3 {
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 600;
  left: 0;
  margin: 0 -15px 40px;
  padding: 10px 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
 }

.box h4 {
  color: #3498DB;
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
 }

.box h4 span {
  font-size: 32px;
  vertical-align: top;
 }

.box h4 span.month {
  color: #888;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  vertical-align: middle;
 }

.box ul li {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
 }

.box .btn {
  bottom: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
 }

.small {
  color: #FEFEFE;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
 }

 /*Testimonials*/

 .testimonials {
  padding: 4em 0;
  text-align: center;
 }

 .testimonials h2 {
  color: #3498DB;
 }

 .testimonials ul li {
  list-style-type: none;
 }

 .testimonials blockquote {
  background: #34495E;
  color: #fff;
  font-style: italic;
  margin: 0;
  padding: 30px;
  position: relative;
  text-align: left;
  width: auto;
 }

 .testimonials blockquote:after {
  border: solid transparent;
  border-top-color: #34495E;
  border-width: 10px;
  content: " ";
  height: 0;
  left: 13%;
  margin-left: -10px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
 }

 .testimonials img {
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 65px;
  margin: 20px 10px 0 0;
  width: 65px;
 }

 .testimonials p.name {
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-top: 30px;
  text-align: left;
 }

/*Media Queries*/

@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1920px) {
  header .hero h1 {
    font-size: 60px;
  }

  header .hero p {
    font-size: 28px;
    line-height: 30px;
  }

  header .btn {
    font-size: 22px;
    padding: 20px 50px;
  }
}



























